@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
html{
    height: 100%;
}
#logo{
    color: yellow;
    font-size: 35px;
}
.carousel-inner img{
    height: 400px;
    object-fit: cover;
}
.navbar img{
    height:50px;
}
.product-view{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}
.product-view div {
    height: 300px;
    width: 250px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    flex-wrap: wrap;
}
.product-view div h3{
    font-family: 'Rajdhani', sans-serif;
}