@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html{
    height: 100%;
}
#logo{
    color: yellow;
    font-size: 35px;
}
.carousel-inner img{
    height: 400px;
    object-fit: cover;
}
.navbar img{
    height:50px;
}
.product-view{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    background: rgb(238,156,167);
    background: linear-gradient(90deg, rgba(238,156,167,1) 0%, rgba(238,156,167,1) 35%, rgba(255,221,225,1) 100%);
}
.product-view div {
    height: 300px;
    width: 250px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    flex-wrap: wrap;
    border-radius: 7px;
}
.product-view div div {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 60%;
    box-shadow: none;
}
.product-view div div img{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    max-height: 100%;
    box-shadow: none;
}
.product-id{
    font-family: 'Rajdhani', sans-serif;
}
.product-view div h5{
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #363636;
}
.product-price{
    color: #E84A5F ;
    font-family: 'Caveat', cursive;
}
footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: BentonSans,"Arial","sans-serif";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;
    color: black;

}
footer .footer-extra{
    height: 50px;
}
footer .footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    padding-top: 50px;
    border-top: 1px solid #ededed;
    border-top-color: rgb(237, 237, 237);
    border-top-style: solid;
    border-top-width: 1px;
    
}
footer .about-us-details{
    display: flex;
    flex-direction: column;
}
footer .about-us-details .logo-class{
    text-transform: capitalize;
    letter-spacing: 5px;
    font-family: 'Macondo', cursive;
}
footer .about-us-details .social-media-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}
footer .about-us-details .social-media-links ul li{
    list-style: none;
}
footer .about-us-details .social-media-links ul .facebook a img{
    height: 35px;
}
footer .about-us-details .social-media-links ul .instagram a img{
    height: 35px;
}
footer .about-us-details .social-media-links ul .twitter a img{
    height: 35px
}
footer .about-us-details .social-media-links ul .youtube a img{
    height: 35px
}
footer .footer-shop-guide{
    letter-spacing: 2px;
    text-transform: capitalize;
}
footer .footer-shop-guide h5{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.1em;
}
footer .footer-shop-guide ul{
    padding: 0;
    margin-top: 20px;
}
footer .footer-shop-guide ul li{
    list-style: none;
    padding-bottom: 3px;
}
footer .footer-shop-guide ul li a{
    text-decoration: none;
    
    color: black;
}
footer .footer-aboutus{
    letter-spacing: 2px;
    text-transform: capitalize;
}
footer .footer-aboutus h5{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
}
footer .footer-aboutus ul{
    padding: 0;
    margin-top: 20px;
}
footer .footer-aboutus ul li{
    list-style: none;
    padding-bottom: 3px;
}
footer .footer-aboutus ul li a{
    text-decoration: none;
    color: #000;
}
footer .footer-copyright{
    text-align: center;
    font-size: small;
    color: black;
    border-top: 1px solid #ededed;
    border-top-color: rgb(237, 237, 237);
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}
footer .footer-copyright p {
    margin: 0px;
}
